* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  header {
    background-color: #25b79f;
    height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  
  /* ////........Navbar.......//// */
  
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  
  .menu-items {
    display: flex;
  }
  
  .menu-items li {
    list-style: none;
    padding: 1rem;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #f0f0e6;
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  
  .menu-items a:hover {
    border-bottom: 2px solid #f0f0e6;
  }
  
  .navbar .logo {
    order: 1;
    color: #f0f0e6;
    font-size: 2rem;
  }
  
  /* ////........Home Content........//// */
  
  .home-content .name {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #07374a;
    width: 100%;
    text-align: center;
  }
  
  .home-content .name h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  
  .home-content .name p {
    color: #f0f0e6;
    font-size: 1.5rem;
  }
  /* ////........About Me........//// */
  
  .about-me {
    padding: 4rem 0;
  }
  .background{
    background-image: url(laptop.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #07374a
  }
  
  .about-me .about-heading {
    color: #25b79f;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  
  .about-content img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    border-radius: 45%;
  }
  
  .about-content p {
    font-size: 1.5rem;
    color: white;
    padding: 0 2.3rem;
    text-align: center;
  }
  .about-me .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-content .left-content {
    flex-basis: 45%;
    text-align: center;
  }
  
  .about-content .right-content {
    flex-basis: 45%;
  }
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .navbar.solid {
    background-color: #07374a;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgb(7 55 74 / 20%);
    z-index: 500;
  }
  
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #f0f0e6;
    transition: color 1s ease 0s;
  }
  
  .navbar-brand {
    display: none;
    color: #f0f0e6;
    font-weight: 400;
  }
  /* ////.....Portfolio......///// */
  
  .portfolio {
    background: #25b79f;
    padding: 2rem 0;
    
  }
  .portfolio h1{
    text-align: center;
    font-size: 4rem;
    color: beige;
  }
  .website{
    overflow: hidden;
    text-align: center;
  }
  .website h2{
    color: #19272d;
    padding-top: 4rem;
    text-align: left;
    margin-left: 6rem;
    font-size: 40px;
    font-style: oblique;
  }
  .website img{
    border-radius: 30px;
    float: left;
    margin-right: 15px;
  }
  .website p{
    font-size: 30px;
    overflow: hidden;
  }
  .blog h2{
    color: #19272d;
    padding-top: 4rem;
    text-align: left;
    margin-left: 6rem;
    font-size: 40px;
    font-style: oblique;
  }
  .blog img{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    width: 400px;
    height: 300px;
    float: left;
  }
  .blog img:nth-of-type(1){
    border-radius: 30px;
  }
  .blog img:nth-of-type(2){
    border-radius: 30px;
  }
  .blog p{
    overflow: hidden;
    font-size: 30px;
  }
  .resume h2{
    color: #19272d;
    padding-top: 4rem;
    text-align: left;
    margin-left: 6rem;
    font-size: 40px;
    font-style: oblique;
  }
  .resume img{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    width: 400px;
    height: 300px;
    float: left;
  }
  .resume img:nth-of-type(1){
    border-radius: 30px;
    height: 400px;
  }
  .resume img:nth-of-type(2){
    border-radius: 30px;
    height: 400px;
  }
  .resume p{
    overflow: hidden;
    font-size: 30px;
  }
  .office h2{
    color: #19272d;
    padding-top: 4rem;
    text-align: left;
    margin-left: 6rem;
    font-size: 40px;
    font-style: oblique;
  }
  .office img{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    width: 400px;
    height: 300px;
    float: left;
  }
  .office img:nth-of-type(1){
    border-radius: 30px;
    height: 600px;
  }
  .office img:nth-of-type(2){
    border-radius: 30px;
    height: 600px;
  }
  .office p{
    overflow: hidden;
    font-size: 30px;
  }
  .flyer h2{
    color: #19272d;
    padding-top: 4rem;
    text-align: left;
    margin-left: 6rem;
    font-size: 40px;
    font-style: oblique;
  }
  .flyer img{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    width: 400px;
    height: 300px;
    float: left;
  }
  .flyer img:nth-of-type(1){
    border-radius: 30px;
    height: 550px;
  }
  .flyer img:nth-of-type(2){
    border-radius: 30px;
    height: 550px;
  }
  .flyer p{
    overflow: hidden;
    font-size: 30px;
  }
    /* ////......Contact......///// */
  
  .contact {
    background: #07374a;
    position: relative;
    height: 92vh;
  }
  
  .contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #25b79f;
    padding-bottom: 0.5rem;
  }
  .contact-content .mail {
    color: #f0f0e6;
    padding-bottom: 0.2rem;
    font-size: 1rem;
  }
  
  .contact-content .links {
    color: #25b79f;
    padding: 0.5rem;
    padding-bottom: 1.8rem;
    font-size: 1rem;
  }  
  .contact-content a:hover {
    color: #f0f0e6;
  }
  .contact-content {
      width: 100%;
  }
#list{
  margin-left: 10px;
  font-size: medium
}
.contact-content a{
  color: rgb(17, 17, 17);
  padding: 1%;
}
.footer{
  color: #f0f0e6;
  position: fixed;
 bottom: 0;
}
    
